//colours
$primary: rgb(250, 97, 2);
//primary colour
$primary-hover: rgb(172, 5, 5);
$secondary: rgb(250, 247, 245);
$pure: white;
$dark :black;
$gray: #ccc;
//color variables
//transition variable
$smooth: all .3s ease-in-out;

